 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Order Booking</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>For customer we can get order online and prepare order for you so you no need to wait for order preparatin.</p>
                </div>
                <div class="col-lg-4">
                    <p>Here you only need to mention that what you want to order and pay online</p>
                    <p>Before you reach our shop we will prepare your order</p>
                    <p>Thank you</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/order/" class="btn btn-lg btn-outline">
                        <i class="fa fa-bullhorn"></i> Order Now
                    </a>
                </div>
            </div>
        </div>
    </section>
