<!-- Payment Section -->
 <!-- About Section -->
 <section class="" id="payment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="ty">🥳 Thank you for Order <i id="name"></i> <i id="amt"></i> ❤️</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="qrCode" style="text-align: center"></div>
                <p style="font-size: 23px;padding-top: 20px;">Scan via any QR code apps like PayTm, PhonePe or GPay</p>
                <p id="validity" style="font-weight: 600;font-size:23px;"></p>
            </div>
        </div>
        <div class="row qrM">
            <div class="col-lg-12 text-center">
                <a class="payLogoAnchor" target="_blank"><img class="payLogo" src="../img/bhim.png" alt="buymechai" border="0"></a>
                <a class="payLogoAnchor" target="_blank"><img class="payLogo" src="../img/paytm.png" alt="buymechai" border="0"></a>
                <a class="payLogoAnchor" target="_blank"><img class="payLogo" src="../img/gTez.png" alt="buymechai" border="0"></a>
                <a class="payLogoAnchor" target="_blank"><img class="payLogo" src="../img/phonepe.png" alt="buymechai" border="0"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Share your Order detail on Whatsapp</p>
                <a id="fullWS" target="_blank"><img class="ws" src="../img/ws.png" alt="buymechai" border="0"/></a>
            </div>
        </div>
    </div>
</section>